<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Flag para saber si está o no "compilado" -->
		<add name="released" connectionString="false" />
		<!-- Flag para saber si se debe o no encriptar el config cuando se ejecute el programa -->
		<add name="protected" connectionString="false" />
		<!-- contenido del config.json -->
		<add name="config" connectionString="" />
		<!-- C:/.../temp/12sd-as45-asd3-23gr  donde se leeran los plugins -->
		<add name="plugins-path" connectionString="" />
		<!-- C:/.../temp/12sd-as45-asd3-23gr  donde se leeran los archivos estaticos (html, css, js) -->
		<add name="src-path" connectionString="" />
		<!-- C:/.../temp/12sd-as45-asd3-23gr  donde se dejara los datos de navegación del usuario -->
		<add name="user-data-path" connectionString="" />
	</connectionStrings>
</configuration>